#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	migrations: Tiplap\DI\Extension\MigrationsExtension
	injects: Majkl578\NetteAddons\Injects\DI\InjectsExtension
	#redis: Kdyby\Redis\DI\RedisExtension

includes:
	- doctrine.config.neon
	- migrations.config.neon
	- console.config.neon
	- system/domain.config.neon
	- system/facade.config.neon
	- system/presenter.config.neon
	- system/configuration.config.neon

php:
	date.timezone: Europe/Prague
	session.save_path: "%tempDir%/sessions"
	zlib.output_compression: yes


nette:
	application:
		errorPresenter: Frontend:Error
#		catchExceptions: true
		mapping:
			"*": "Tiplap\\*\\*Presenter"

	session:
		expiration: 14 days
		autoStart: true

services:
	- Tiplap\RouterFactory
	- Tiplap\Cache\CacheManager
	- Tiplap\Templating\Helpers


	router: @Tiplap\RouterFactory::createRouter

	cache:
		class: Nette\Caching\Cache

	cacheStorage:
		#class: Nette\Caching\Storages\MemcachedStorage()
#		class: Nette\Caching\Storages\FileStorage("%tempDir%/cache")
#		class: Kdyby\Redis\RedisStorage
